.sign-up{
  background: url(https://github.com/FonsecaAlejo/challengewollox/blob/main/src/assets/Backgrounds/Bg_Header@3x.png?raw=true);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .container{
    max-width: 1900px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .box-wolox{
      margin: 10% 1%;
      padding: 2%;
      border-radius: 1em;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
      display: flex;
      flex-direction: column;
  }

  .box-wolox div{
    width: 25em;
  }

  .box-wolox h1{
    font-size: 3em;
  }

  .box-wolox p{
    font-size: 1.5em;
  }
    
  .box-wolox figure{
      width: 100%;
      margin: auto;
  }
  
  .box-wolox img{
      width: 100%;
  }

  .box-form{
      margin: 10% 1%;
      padding: 2%;
      border-radius: 1em;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
  }

  .content-fields{
    display: flex;
  }

  .field-box{
    width: 22em;
    margin: 0 1em;
  }

  .field{
    margin: 1em;
    width: auto;
    height: 5em;
    display: flex;
    flex-direction: column;
  }

  .field label{
    width: 100%;
    margin-bottom: 1em;
  }

  .field input{
    width: 100%;
    margin-top: .5em;
    height: 2.5em;
  }

  .field select{
    width: 100%;
    margin-top: .5em;
    height: 2.5em;
  }

  .field input:focus{
    border: 1px solid #2AA7DF;
    outline: none;
  }

  .field select:focus{
    border: 1px solid #2AA7DF;
    outline: none;
  }

  .field select{
    height: 4em !important;
  }

  .checkbox{
    cursor: pointer;
  }

  .disabled{
    pointer-events: none;
    border: 1px solid rgba(144, 144, 144, 0.25);
    color: rgba(144, 144, 144, 0.25) !important;
}

.footer-form{
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  margin-top: 4em;
}

  /* Invalid */
  .invalid-field{
    border: 1px solid red;
  }

  .invalid-span{
    color: red;
    margin-top: .3em;
  }