 @import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap'); /*Fuente Asap de Google*/

html,body{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: 'Asap', sans-serif;
}

/* ------------------Variables */
:root{
    --green-color:#7acc2d;
    --white-color:white;
    --black-color:#313337;
    /* Tipografía */
    --normal:12px;
    /* Espaciado */
    --space:10px;
    /* Box shadow */
    --box:0 0 1px #c1bcbc;
  
  }

  /* ------------------Variables */
  
  .container{
      max-width: 1100px;
      margin: auto;
  }
  
  .background{
    background-image: url(./assets/images/curve.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-position-y: 10%;
  }
  
  nav{
    display: flex;
    background-color: var(--green-color);
    padding: var(--space);
    color: white;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul{
    display: flex;
  }
  
  nav li{
    padding-left: 20px;
    list-style: none;
  }
  
  nav li a{
    color: var(--black-color);
  text-decoration: none;
  }
  
  nav li a:hover{
    color: white;
  }
  
  /* ---------------------Main section */
  
  .main_section{
    padding: 5% 15%;
    text-align: center;
  }
  
  .products{
    /* background-image: url(../images/curve.png);
    background-size: cover;
    background-position: center top; */
    overflow: hidden;
    padding: 0% 20%;
    display: flex;
    min-height: 350px;
  }
  
  .product{
    padding: 10px;
  }
  
  .product .content{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 1px #c1bcbc;
  }
  
  .products-sale{
      display: flex;
      justify-content: center;
  }
  
  .description-product{
      margin: 10% 1%;
      width: 30%;
      padding: 1%;
      box-shadow: 0px 3px 6px #c1bcbc;
  }
  
  .description-product figure{
      width: 50%;
      margin: auto;
  }
  
  .description-product img{
      width: 100%;
  }
  .img_content{
    text-align: center;
  }
  
  .main_button{
    background-color: #7acc2d;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
  }
  .main_button:hover{
    background-color: #5e9e22;
  }
  
  /* Animations */
  .fadeInDown{
    -webkit-animation-duration: 1s;
    animation-duration:1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

  /* ------------------Properties */
  .properties{
    display: flex;
    justify-content: space-between;
    margin: 3% 5%;
  }
  .properties .article .details{
    text-align: center;
  }
  .article{
    display: grid;
    grid-template-rows: repeat(2,auto);
    justify-items: center;
  
  }
  .figure{
    margin: 0;
    padding: 0;
    width: 138px;
    height: 113px;
    text-align: center;
  }
  .figure img{
    width: 100%;
  }
  .details{
    width: auto;
    height: auto;
    margin: 3%;
  }
  .details h3{
    font-weight: bold;
    font-size: 17px;
    color: #313337;
  }
  .details p{
    color: #313337;
  }
  
  /* ----------------------Mentions */
  .mentions{
    display: grid;
    grid-template-rows: 105.44px auto;
    grid-template-columns: repeat(4,240px);
    margin: 5% 0 ;
    margin-bottom: 30px;
    justify-content: space-between;
    padding: 0% 5%;
  }
  .mentions .article{
    border-radius: 2px;
    box-shadow: 0px 3px 6px #c1bcbc;
  }
  .mentions figure{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .mentions h1{
    grid-column-end: span 4;
    justify-self: center;
    font-size: 30px;
    color: #313337;
  }
  .mentions h3{
    margin: 0 0 1% 0;
  }
  .mentions p{
    margin: 0%;
    color: #313337;
  }
  
  /* -------------------------Footer */
  footer{
    background-color: #313337;
    display: flex;
    justify-content: space-between;
  }
  footer a{
    color: white;
    margin: 22px 17px;
    text-decoration: none;
  }
  
  .invalid {
    border: 1px solid red;
  }
  
  .invalidCheckbox{
    outline: 1px solid red
  }
  
  textarea:focus, input:focus{
    outline: none;
  }
  