 @import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap'); /*Fuente Asap de Google*/

html,body{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: 'Asap', sans-serif;
}