<section class="section-technology">

    <div class="container-search">
        <div>
            <label for=""><span class="text-green">Buscar </span><span class="text-blue">tecnología:</span></label>
            <input  class="input" 
                    type="text" 
                    placeholder="Buscar tecnología"
                    (keyup)="searchTechnology(text.value)" #text>
        </div>
        <div class="found">
            <h1 *ngIf="text.value.length > 1" >Encontradas: {{searchTech.length}}</h1>
        </div>

    </div>
    
    <div  *ngIf="text.value.length < 2" class="container-technologys" >
        <div class="box-technology" *ngFor="let item of tech" >
            <h1 class="text-green">{{item.tech}}</h1>
            <div class="information-tech">
                <div>
                    <p><span>Year:</span> {{item.year}}</p>
                    <p><span>Author:</span> {{item.author}}</p>
                    <p><span>License:</span> {{item.license}}</p>
                    <p><span>Language:</span> {{item.language}}</p>
                    <p><span>Type:</span> {{item.type}}</p>
                </div>
                <figure>
                    <img [src]="item.logo" [alt]="item.tech">
                </figure>
            </div>
            <button (click)="likeTech(item)" 
                    class="button-white">Me gusta</button>
        </div>
    </div>
    
    <div  *ngIf="text.value.length > 1" class="container-technologys">
        <div class="box-technology" *ngFor="let item of searchTech" >
            <h1 class="text-green">{{item.tech}}</h1>
            <div class="information-tech">
                <div>
                    <p><span>Year:</span> {{item.year}}</p>
                    <p><span>Author:</span> {{item.author}}</p>
                    <p><span>License:</span> {{item.license}}</p>
                    <p><span>Language:</span> {{item.language}}</p>
                    <p><span>Type:</span> {{item.type}}</p>
                </div>
                <figure>
                    <img [src]="item.logo" [alt]="item.tech">
                </figure>
            </div>
            <button (click)="likeTech(item)"
                    class="button-white">Me gusta</button>
        </div>
    </div>    

</section>    
