<div style="height: 200px;">

</div>
<div style="border: 1px solid blue;">
    <form action="">
        <label for="">Buscar:<input type="text" name="" id="" placeholder="Buscar tecnología" (keyup)="searchTechnology(text.value)" #text></label>
        <button (click)="searchTechnology(text.value)" type="button">Buscar</button>
    </form>
</div>

<div  *ngIf="text.value.length == 0">
    <div style="height: auto; border: 1px solid black;" *ngFor="let item of tech" >
        <button (click)="likeTech(item)">Me gusta</button>
        <h1>Tech: {{item.tech}}</h1>
        <p>Year{{item.year}}</p>
        <p>author{{item.author}}</p>
        <p>license{{item.license}}</p>
        <p>language{{item.language}}</p>
        <p>type{{item.type}}</p>
        <img [src]="item.logo" [alt]="item.tech">
    </div>
</div>

<div  *ngIf="text.value.length > 0">
    <h1 *ngIf="text.value.length > 0" >Encontradas: {{searchTech.length}}</h1>
    <div style="height: auto; border: 1px solid black;" *ngFor="let item of searchTech" >
        <button (click)="likeTech(item)">Me gusta</button>
        <h1>Tech: {{item.tech}}</h1>
        <p>Year{{item.year}}</p>
        <p>author{{item.author}}</p>
        <p>license{{item.license}}</p>
        <p>language{{item.language}}</p>
        <p>type{{item.type}}</p>
        <img [src]="item.logo" [alt]="item.tech">
    </div>
</div>


